.cofee{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height:30%;
  cursor: pointer;
}

.lg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height:20%;
    cursor: pointer;
    
}