.bg{
    background-image: url('./bekky-bekks-7TuK3Jixsmc-unsplash.png');
    background-repeat: repeat;
}
.im{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    
    /* margin-bottom: 6%; */
}.flexes1{
    display: flex;
  
    margin-left: 45%;
    font-size: 2rem;
    padding-bottom: 4%;
    font-weight: 700;
  }