.login{
    margin-left: 10%;
    margin-top: 5%;
}

.ip{
    background-color: rgb(243, 222, 36);
    border: none;
    outline: none;
    padding: 2%;
    border-radius: 10px;
    border: 2px black solid;
    margin-top: 4%;
    margin-left: 3%;
    width: 300px;
    
  }
.bn{
    border: none;
    background-color: black;
    outline:none;
    color: white;
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 15px;
    margin-left: 35%;
    margin-top: 6%;
    cursor: pointer;
    font-size: 1.3rem;
    
}


.flexes2{
    display: flex;
}
.wd{
    width: 15%;
}