.menus{
    margin-top: 10%;
    width:20%;
    margin-left:10%;
    margin-right:6%;
    
    
   
}
.flexes{
    display: flex;
    justify-content: space-evenly;
}

.gt{
    background-color: rgb(243, 222, 36);
    border: none;
    outline: none;
    padding: 2%;
    border-radius: 10px;
    border: 2px black solid;
    margin-top: 8%;
    
    width: 500px;

}

.newgab{
        width:80%;
        
        margin-right:95%;
        display:inline-flexbox;
        
        
    
}

.ng{
    background-color: rgb(243, 222, 36);
    border: none;
    outline: none;
    padding-top:1%;
    border-radius: 10px;
    border: 2px black solid;
    margin-top: 4%;
    
    height:150px;
    width: 500px;

}

.bn{
    border: none;
    background-color: black;
    outline:none;
    color: white;
    padding-top: 1%;
    padding-left: 4%;
    padding-right: 4%;
    font-size:1.5rem;
    border-radius: 15px;
    margin-left: 120%;
    margin-top: 6%;
    cursor: pointer;
    
}




